._1AtVbE {
    display: block;
}

.col-12-12 {
    width: 100%;
}
._2Q9A4t, ._3879cV {
    font-size: 14px;
    padding: 32px;
    width: 978px;
    background-color: #fff;
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
}
._2Q9A4t h1{
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 0;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
}
._2Q9A4t h2, ._2Q9A4t h3, ._2Q9A4t h4, ._2Q9A4t h5, ._2Q9A4t h6 {
    margin-bottom: 5px;
    margin-top: 20px;
    padding: 0;
    line-height: 1.5;
    font-weight: 500;
    font: 1em sans-serif;
}